---
import ZonesDownload from "@components/ZonesDownload";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import BaseHead from "@components/BaseHead.astro";
---

<html lang="en">
  <head>
    <BaseHead
      title="ConfigBerry | Export Cloudflare Zones Tool"
      description="Export all zones for a list of Cloudflare accounts. Then import this list to perform bulk updates of rules across all your zones."
    />
  </head>
  <body>
    <Header />
    <main>
      <ZonesDownload client:load />
    </main>
    <Footer />
  </body>
</html>
