---
import GetZones from "../components/Zones";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Cloud Configs</title>
  </head>
  <body class="bg-gray-300 py-8">
    <main>
      <section class="max-w-xl mx-auto">
        <a href="/app/zones" class="text-blue underline font-bold">Zones</a>
      </section>
    </main>
  </body>
</html>
