---
import "@styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Cloud Configs</title>
  </head>
  <body>
    <main class="flex flex-col items-center justify-center min-h-screen">
      <a
        class="mx-auto max-w-lg p-4 bg-blue-500 text-white rounded-lg shadow-md hover:bg-blue-600 transition"
        href="/app/upload-accounts"
      >
        Upload accounts
      </a>
    </main>
  </body>
</html>
