---
import GetZones from "../components/GetZones";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Cloud Configs</title>
  </head>
  <body>
    <main
      class="flex flex-col items-center py-8 min-h-screen bg-gray-300 text-3xl"
    >
      <GetZones />
    </main>
  </body>
</html>
