---
import CopyConfig from "@components/CopyConfig";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import BaseHead from "@components/BaseHead.astro";
---

<html lang="en">
  <head>
    <BaseHead
      title="ConfigBerry | Cloudflare WAF Sync Tool"
      description="Copy WAF rules from one Cloudflare zone to a list of zones. The easiest way to sync up Cloudflare rules across all your domains."
    />
  </head>
  <body>
    <Header />
    <main>
      <CopyConfig client:load />
    </main>
    <Footer />
  </body>
</html>
