---
import NavLinks from "./NavLinks.astro";
---

<nav class="bg-white border-b border-gray-200 py-4 px-6 sticky top-0 z-50">
  <div class="max-w-7xl mx-auto flex justify-between items-center">
    <a href="/">
      <div class="flex items-center space-x-1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-8 w-8 text-pink-800"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <!-- Larger Berry Shape -->
          <circle cx="12" cy="12" r="7" stroke="currentColor"></circle>
          <!-- Larger Config Dots -->
          <circle cx="10" cy="12" r="1" fill="currentColor"></circle>
          <circle cx="14" cy="12" r="1" fill="currentColor"></circle>
          <circle cx="12" cy="14.5" r="1" fill="currentColor"></circle>
        </svg>

        <span class="font-bold text-xl text-gray-800">ConfigBerry</span>
      </div>
    </a>

    <div class="hidden md:flex space-x-8">
      <NavLinks />
    </div>

    <div class="md:hidden flex items-center">
      <button id="mobile-menu-button" class="text-gray-700">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>
    </div>
  </div>

  <!-- Mobile menu, toggle visibility with JavaScript -->
  <div id="mobile-menu" class="hidden md:hidden mt-4">
    <div class="flex flex-col space-y-3">
      <NavLinks />
    </div>
  </div>
</nav>

<script>
  // Mobile menu toggle
  document
    .getElementById("mobile-menu-button")
    ?.addEventListener("click", () => {
      const menu = document.getElementById("mobile-menu");
      menu?.classList.toggle("hidden");
    });
</script>
