---
import { CONTACT_FORM_URL } from "../consts";
---

<a href="/" class="text-gray-700 hover:text-pink-800 font-medium">Home</a>
<a href="/waf-sync" class="text-gray-700 hover:text-pink-800 font-medium"
  >WAF Sync Tool</a
>
<a href="/export-zones" class="text-gray-700 hover:text-pink-800 font-medium"
  >Zone Export Tool</a
>
<a href="/#blog" class="text-gray-700 hover:text-pink-800 font-medium">Blog</a>
<a href={CONTACT_FORM_URL} class="text-gray-700 hover:text-pink-800 font-medium"
  >Contact</a
>
