---
import type { CollectionEntry } from "astro:content";

type Props = { post: CollectionEntry<"blog"> };

const { post } = Astro.props;
---

<li
  class="bg-white rounded-lg shadow-md p-4 border border-gray-200 hover:shadow-lg transition-all duration-300 h-full flex flex-col"
>
  <div class="flex-grow">
    <a
      href={`/blog/${post.id}`}
      class="text-lg font-semibold text-gray-900 hover:text-pink-800 transition-colors"
    >
      {post.data.title}
    </a>
  </div>
</li>
